<% 
	var author = author ? author : "undefined"; 
%>
<div id="footer" style="background:#e74c3c; color:white;padding: 0.5em; width:calc(100% - 1em); font-family: 'segoe ui'; text-align: center;";">
	Created by <a style="color:white; font-weight: bold;" href="<%=author.__proto__.link%>"><%= author %></a>
</div>
<script>
	var body = document.getElementsByTagName("body")[0].clientHeight;
	if(body.scrollHeight == body.clientHeight){
		footer.style.position = "absolute";
		footer.style.bottom = "0px";
		footer.style.left = "0px";
	}
</script>