<% 
	var title = title ? title : "undefined"; 
%>
<div style="background:#e74c3c; color:white; padding:0.5em; width:calc(100% - 1em); font-family:'segoe ui'; text-align: center; font-size:2em;">
	<%-title %>
</div>