<%
	// Some variables you should know : arguments, include, __filename
	// config propertise 			  : req, res, require, main_global, ejs_opt
	// Only developper may knows      : escapeFn, rethrow, __line
	// Only machines knows            : __output, __append
	
	/** 
	 * Developper notes,
	 * This is an experimental use. You shouldn't use it right know.
	 * 
	 * ejs(str, data, config); this is really just a ejs.
	 * ejs(filename, data, config, callback); this is really just a ejs.
	 * experimental_include(filename, data, opts); filename directory is as same as this file.
	 * 											   `data` and `opts` are same as main config.
	 * 											   so don't worry if you let it `{}`. This would
	 * 											   return both <String> nor <Promise>.
	 * includeSync(filename, data, opts); this would return <String>
	 * includeAsync(filename, data, opts); this would return <Promise>
	 * 
	 * did `include = includeSync;` to fix problem of async
	 */
	
	_locals.title = "WebServer Test";
	_locals.author = "FarhanMS123";
	_locals.author.__proto__.link = "https://github.com/FarhanMS123";
%>
<% 
	if(req.query.type == "api_routing"){
		_locals.html = `
			<h1>API Routing with api.njs</h1><br />
			<span>Put your name and type :</span> <br />
			<input id="txtName" placeholder="Your Name" value="myname">
			<input id="txtType" placeholder="Type" value="Human"> <br />
			<span>Put your message and soul's power :</span> <br />
			<input id="txtMsg" placeholder="Your Message" value="Hello, World!">
			<input id="txtFF" placeholder="Filled with..." value="Love and Peace"> <br />
			<br />
			<button id="btn1">Request (open in new tab)</button>
			<script>
				btn1.onclick = function(ev){
					window.open("/test/api.njs/" + txtName.value + "/" + txtType.value + "?message=" + txtMsg.value + "&fullfill=" + txtFF.value, "_blank");
				}
			</script>
		`;
	}else if(req.query.type == "form_gui"){
		_locals.html = `
			<style>p{padding:0px; margin:0px;}</style>
			<p style="text-align: center; width: 100%;"><b>FORM TEST</b></p>
			<p>
				Target handler : <br /> 
				<input id="rad_ejs" type="radio" name="action" value="?type=upload"><label for="rad_ejs">EJS File (index.ejs?type=upload)</label> <br />
				<input id="rad_njs" type="radio" name="action" value="/test/api.njs/upload" checked><label for="rad_njs">NJS File (api.njs/upload)</label>
			</p>
			<p>
				Method : 
				<input id="rad_get" type="radio" name="method" value="GET" checked><label for="rad_get">GET</label>
				<input id="rad_post" type="radio" name="method" value="POST"><label for="rad_post">POST</label>
			</p>
			<p>
				Encode Type : <br /> 
				<input id="rad_plain" type="radio" name="enctype" value="text/plain"><label for="rad_plain">text/plain</label> <br />
				<input id="rad_url" type="radio" name="enctype" value="application/x-www-form-urlencoded" checked><label for="rad_url">application/x-www-form-urlencoded</label><br />
				<input id="rad_multer" type="radio" name="enctype" value="multipart/form-data"><label for="rad_multer">multipart/form-data</label>
			</p>
			<button onclick="setForm()">Set form propertise</button>
			<br /><br />
			<form id="theForm" style="background:#eeeeee; padding: 0.5em;" target="_blank">
				<label for="txt_type">Type, let this be as default :  </label> <br />
				<input id="txt_type" type="text" name="type" value="upload"> <br />
				<label for="txt_fname">Full name: </label> <input id="txt_fname" name="fullname"><br />
				<label for="txt_fname2">Full name: </label> <input id="txt_fname2" name="fullname"><br />
				<label for="txt_email">E-mail: </label> <input id="txt_email" name="email" type="email"><br />
				<label for="fileUploader">Upload a file: </label> <input id="fileUploader" name="file" type="file"><br />
				<label for="txt_comment">Comment: </label><br />
				<textarea id="txt_comment" name="comment" style="width:100%;"></textarea><br /><br />
				<input type="submit" name="submit">
			</form>
			<script>
				function getRadioChecked(name){
					return document.querySelectorAll("input[name=" + name + "]:checked")[0];
				}
				function setForm(){
					theForm.setAttribute("method", getRadioChecked("method").value);
					theForm.setAttribute("enctype", getRadioChecked("enctype").value);
					theForm.setAttribute("action", getRadioChecked("action").value);
				}
				setForm();
			</script>
		`;
	}else if(req.query.type == "upload"){
		var util = require("util");
		var obj = {
			query: req.query, 
			files: req.files, 
			body: req.body, 
			method: req.method,
			"content-type": req.headers["content-type"]
		}
		_locals.html = `<pre style='width:100%; overflow:auto;'>${util.inspect(obj, {})}</pre>`;
	}else{
		_locals.html = `
			Here are the list of Test :
			<ul>
				<li><a href="./websocket.html">WebSocket Echo (echo.ws)</a></li>
				<li><a href="?type=api_routing">API and Routing (api.njs)</a></li>
				<li><a href="?type=form_gui">Form Request (index.ejs & api.njs)</a></li>
			</ul>
		`;
	}
%>
<%- include("layout.ejs"); %>