<% 
var y = new Date().toString();

var x = `
<html>
	<head>
		<title>This is a test for ejs</title>
	</head>
	<body class="">
		<h1>This is a test for ejs</h1>
		<b>${y}</b>
	</body>
</html>
`; %>

<%-x %>